[Desktop Entry]
Type=Application
Name=Mathworks Service Host
Exec=/home/TheWolf/.MathWorks/ServiceHost/-mw_shared_installs/v2025.1.1.2/bin/glnxa64/MathWorksServiceHost service --realm-id companion@prod@production
Terminal=false
