//@theme "/home/TheWolf/.config/rofi/themes/nord.rasi"
//@theme "/home/TheWolf/.config/rofi/themes/nord.rasi"
//@theme "/home/TheWolf/.local/share/rofi/themes/windows11-grid-dark.rasi"
//@theme "/home/TheWolf/.local/share/rofi/themes/windows11-grid-dark.rasi"
//@theme "/usr/share/rofi/themes/windows11-grid-dark.rasi"
@theme "/home/TheWolf/.config/rofi/themes/bspwm.rasi"
